/*main css*/
	/* aplica solo para el body. Fija la imagen en fondo */

.fondos {
	background-image: url("../img/topography.svg"),
	linear-gradient(110deg, #A8C1DE, #1067CE);
	background-size: 340px, auto;
	min-height: calc(100vh - 100px);
	background-attachment: fixed;
}

.recargado {
	background-color: hsla(33, 48%, 82%);
}

/*Este CSS se aplica a la parte del modal y del boton de preguntas y formulario de registro */
.pregunta {
	margin: 10px;
	padding: 20px;
	border-radius: 20px;
	background-color: rgb(252, 188, 114, 0.6);
	opacity: 1;
}

.flotante {
	background-color: #fdbd7467;
	border-radius: 20px;
	height: 50%;
	width: 100%;
	/* margin-left: 25%; */
	transition: opacity 0.5s;
	transition-timing-function: ease-in;
	/* position: absolute; */
	/* left: 25%;
	top: 25%; */
	opacity: 0;
	/* vertical-align: middle; */
}

.flotante p {
	font-size: 150%;
	color: #ffbf47;
	text-shadow: 2px 2px maroon;
	text-align: center;
	position: relative;
	top: 35%;
}

.area1:hover .flotante {
	opacity: 1;
}

.area2:hover .flotante {
	opacity: 1;
}
.area3:hover .flotante {
	opacity: 1;
}
.area4:hover .flotante {
	opacity: 1;
}
.area5:hover .flotante {
	opacity: 1;
}
.area6:hover .flotante {
	opacity: 1;
}

.wrapper {
    margin: 20px 0px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    grid-template-areas:
    "area1  area1   area2"
    "area1  area1   area3"
    "area5  area4   area3"
    "area5  area6   area6";
  }

.area1, .area2,
.area3, .area4,
.area5, .area6 {
	border: 10px solid #fffefdc0;
	border-radius: 5px;
	background-size: cover;
	overflow: hidden;
	justify-items: center;
	align-items: center;
	position: relative;
}

.area2, .area4, .flotante p {
	font-size: 150%;
	color: #ffbf47;
	text-shadow: 2px 2px maroon;
	text-align: center;
}

.area1, .area3,
.area5, .area6 p {
	font-size: 220%;
	color: #ffbf47;
	text-shadow: 2px 2px maroon;
	text-align: center;
}

.area1 {
	grid-area: area1;
	background-image: url("../img/Cancun_1920.jpeg");
}

.area2 {
    grid-area: area2; 
	background-image: url("../img/ciudad_mexico.JPG");
}
.area3 {
	/* border: 10px solid #fffefdc0; */
    grid-area: area3;
	background-image: url("../img/buenos_aires.JPG");
}
.area4 {
    grid-area: area4;
	background-image: url("../img/Rio_1920.jpeg");
}
.area5 {
    grid-area: area5;
	background-image: url("../img/barcelona_1920_2.jpg");
}
.area6 {
    grid-area: area6;
	background-image: url("../img/Bogota_1920.png");
}

.navbar-button {
	font-size: 14px;
}

@media (max-width:959px){
	.flotante p {
		font-size: 150%;
	}
	}


@media (max-width:700px){
	.body{
		background-color: #ffc60032;
		background-image: none;
	}

	.flotante p {
		font-size: 150%;
	}

    .wrapper {
		grid-template-columns: minmax(285px,1fr);
		
        grid-template-areas:
            "area1"
            "area2"
            "area3"
            "area4"
            "area5"
            "area6"     
        }
	}